.login-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  margin-top: 32px;
}

.login-button > div {
  margin-left: 12px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}

.menu-list li {
  padding: 10px;
}

.menu-search {
  position: relative;
}

.menu-search input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 12px 0 12px 24px;
}

.menu-search input:focus {
  outline: none;
}

.menu-search .search-button {
  position: absolute;
  top: 12px;
}
